[submodule "services/identity-service"]
	path = services/identity-service
	url = https://github.com/divyanshu3020/identity-service.git
[submodule "services/fintech-service"]
	path = services/fintech-service
	url = https://github.com/divyanshu3020/Fintech-service.git
[submodule "services/parking-service"]
	path = services/parking-service
	url = https://github.com/divyanshu3020/Parking-service.git
